:root {
  --main-text-color: #555555;
  --title-color: #303030;
  --accent-color: #ff6c00;
  --alt-text-color: #9da4bd;
  --alt-title-color: #ffffff;

  --dark-bg: #191c26;
  --second-bg: #f7f7f7;

  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.address {
  font-style: inherit;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--title-color);
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  color: var(--alt-title-color);
  background-color: var(--accent-color);
}

.title {
  font-family: var(--title-font);
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.page-title {
  font-size: 72px;
  line-height: 1.18;
}

.section-title {
  font-size: 42px;
  line-height: 1.17;
}

.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.team-item {
  text-align: center;
}

.team-item-name {
  font-weight: 400;
  line-height: 1.39;
  color: var(--title-color);
}

.team-item-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--alt-text-color);
}

.dark-bg .title,
.dark-bg .btn {
  color: var(--alt-title-color);
}

.dark-bg .title-label {
  color: var(--alt-title-color);
}
